Pierwsze zadanie polega na:

*   wczytaniu modułu pandas
*   wczytaniu danych tekstowych do pythona z wykorzystaniuem pandas.read_csv

In [0]:
import pandas

In [0]:
df=pandas.read_csv("sample_data/california_housing_test.csv")

In [0]:
df.head() # wyświetla pierwsze pięć wierszy
df.tail() # wyświetla ostatnie pięć wierszy
df.mean() # liczę średnie dla wszystkich kolumn

longitude               -119.589200
latitude                  35.635390
housing_median_age        28.845333
total_rooms             2599.578667
total_bedrooms           529.950667
population              1402.798667
households               489.912000
median_income              3.807272
median_house_value    205846.275000
dtype: float64

In [0]:
df.population.mean()

1402.7986666666666

In [0]:
df.columns ## wyswietli nazwy kolumn w zbiorze danych

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [0]:
df.size ## liczba wierszy

27000