<a href="https://colab.research.google.com/github/DepartmentOfStatisticsPUE/air-2020/blob/master/notebooks/4_porzadkowanie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
powiaty=pd.read_excel("Powiaty.xls")
powiaty.head()

                   Powiaty   Id      X1_s  ...      X4_d      X5_d      X6_d
0               chodzieski  251  0.638029  ...  0.282360  0.536464  0.064824
1  czarnkowsko-trzcianecki  252  0.635018  ...  0.295556  0.512332  0.115621
2             gnieźnieński  253  0.571948  ...  0.308769  0.468553  0.246254
3                gostyński  254  0.707542  ...  0.362074  0.470871  0.077338
4                grodziski  255  0.645110  ...  0.412271  0.417134  0.141414

[5 rows x 8 columns]

Tworzymy nowe zmienne, które będą znormalizowanymi zmiennymi diagnostycznymi.

In [0]:
powiaty["z1"] = (powiaty.X1_s - min(powiaty.X1_s)) / (max(powiaty.X1_s) - min(powiaty.X1_s))
powiaty.z1.describe()

count    35.000000
mean      0.664574
std       0.174233
min       0.000000
25%       0.602556
50%       0.671521
75%       0.729207
max       1.000000
Name: z1, dtype: float64

Pętla for

In [0]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

Pętla for z enumerate

In [0]:
for i, j in enumerate(["atrakcyjnośc", "inwestycyjna", "regionów"]):
  print(i)
  print(j)

0
atrakcyjnośc
1
inwestycyjna
2
regionów

Sklejanie tekstów

In [0]:
"ala" + "ma" + "kota"

'alamakota'

Tworzymy pętlę w której przejdziemy przez wszystkie stymulanty i utworzymy nowe zmienne z1, z2, z3.

In [0]:
for i, j in enumerate(["X1_s","X2_s"]):
  nowa_zmienna = "z" + str(i)
  powiaty[nowa_zmienna] = (powiaty[j] - min(powiaty[j])) / (max(powiaty[j])-min(powiaty[j]))
  
powiaty.head()

                   Powiaty   Id      X1_s  ...      X6_d        z1        z0
0               chodzieski  251  0.638029  ...  0.064824  0.253130  0.706672
1  czarnkowsko-trzcianecki  252  0.635018  ...  0.115621  0.384236  0.701631
2             gnieźnieński  253  0.571948  ...  0.246254  0.384937  0.596050
3                gostyński  254  0.707542  ...  0.077338  0.397143  0.823039
4                grodziski  255  0.645110  ...  0.141414  0.306861  0.718526

[5 rows x 10 columns]

In [0]:
for i, j in enumerate(["X3_d","X4_d", "X5_d", "X6_d"]):
  nowa_zmienna = "z" + str(i+2)
  powiaty[nowa_zmienna] = (max(powiaty[j])-powiaty[j]) / (max(powiaty[j])-min(powiaty[j]))
  
powiaty.describe()

               Id       X1_s         X2_s  ...         z3         z4         z5
count   35.000000  35.000000    35.000000  ...  35.000000  35.000000  35.000000
mean   268.000000   0.612881  1829.547429  ...   0.465635   0.494289   0.809949
std     10.246951   0.104079   245.764738  ...   0.234979   0.232728   0.203337
min    251.000000   0.215894  1356.200000  ...   0.000000   0.000000   0.000000
25%    259.500000   0.575835  1666.365000  ...   0.271943   0.332606   0.777517
50%    268.000000   0.617031  1795.930000  ...   0.449770   0.519235   0.860363
75%    276.500000   0.651491  1948.235000  ...   0.621935   0.654467   0.945407
max    285.000000   0.813250  2512.130000  ...   1.000000   1.000000   1.000000

[8 rows x 13 columns]

Tworzymy pętlę for ale z warunkowym przebiegiem

In [0]:
powiaty.columns

Index(['Powiaty', 'Id', 'X1_s', 'X2_s', 'X3_d', 'X4_d', 'X5_d', 'X6_d', 'z1',
       'z0', 'z2', 'z3', 'z4', 'z5'],
      dtype='object')

In [0]:
for i, value in enumerate(powiaty.columns):
  if value.endswith("_d"):
    nz = "z" + str(i-1)  
    powiaty[nz] = (max(powiaty[value])-powiaty[value])/(max(powiaty[value])-min(powiaty[value]))
  elif value.endswith("_s"): 
    nz = "z" + str(i-1)  
    powiaty[nz] = (powiaty[value]-min(powiaty[value]))/(max(powiaty[value])-min(powiaty[value]))
    
powiaty.head()

                   Powiaty   Id      X1_s  ...        z4        z5        z6
0               chodzieski  251  0.638029  ...  0.766913  0.261067  1.000000
1  czarnkowsko-trzcianecki  252  0.635018  ...  0.689012  0.356047  0.881383
2             gnieźnieński  253  0.571948  ...  0.611014  0.528359  0.576335
3                gostyński  254  0.707542  ...  0.296332  0.519235  0.970780
4                grodziski  255  0.645110  ...  0.000000  0.730738  0.821152

[5 rows x 15 columns]

In [0]:
powiaty["SMR"]=powiaty[["z1","z2","z3","z4","z5","z6"]].mean(axis=1)
powiaty.head()
powiaty.sort_values(by = "SMR", ascending = False)[["Powiaty","SMR"]]

                    Powiaty       SMR
34                   Poznań  0.867575
20                poznański  0.796835
33                   Leszno  0.691035
31                   Kalisz  0.643147
23              szamotulski  0.629432
28              wolsztyński  0.625491
12              leszczyński  0.625481
17            ostrzeszowski  0.618537
10               kościański  0.612419
24                  średzki  0.601480
32                    Konin  0.599757
13            międzychodzki  0.588654
25                  śremski  0.577358
14              nowotomyski  0.576002
3                 gostyński  0.568549
21                  rawicki  0.566985
18                   pilski  0.562546
4                 grodziski  0.554943
0                chodzieski  0.536059
16                ostrowski  0.529157
7                  kępiński  0.528314
1   czarnkowsko-trzcianecki  0.526655
30                złotowski  0.497160
11             krotoszyński  0.489971
2              gnieźnieński  0.486751
26                  turecki  0.481182
15                obornicki  0.467892
29               wrzesiński  0.459157
27              wągrowiecki  0.447456
6                   kaliski  0.439388
8                    kolski  0.437525
19               pleszewski  0.435867
22                 słupecki  0.429735
9                  koniński  0.420625
5                jarociński  0.399115