<a href="https://colab.research.google.com/github/DepartmentOfStatisticsPUE/air-2020/blob/master/notebooks/test_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python programming

This notebook has been inspired by lectures available at [http://github.com/jrjohansson/scientific-python-lectures](http://github.com/jrjohansson/scientific-python-lectures).

## IPython notebooks

This file - an IPython notebook -  does not follow the standard pattern with Python code in a text file. Instead, an IPython notebook is stored as a file in the [JSON](http://en.wikipedia.org/wiki/JSON) format. The advantage is that we can mix formatted text, Python code and code output. It requires the IPython notebook server to run it though, and therefore isn't a stand-alone Python program as described above. Other than that, there is no difference between the Python code that goes into a program file or an IPython notebook.

## Variables and types

### Symbol names

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter. 

By convention, variable names start with a lower-case letter, and Class names start with a capital letter. 

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    False, None, True, and, as, assert, break, class, continue,
    def, del, elif, else, except, finally, for, from, global,
    if, import, in, is, lambda, nonlocal, not, or, pass, raise,
    return, try, while, with, yield

**Note:** *Be aware of the keyword `lambda`, which could easily be a natural variable name in a scientific program. But being a keyword, it cannot be used as a variable name.*

### Assignment



The assignment operator in Python is `=`. Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

Assigning a value to a new variable creates the variable:

In [0]:
# variable assignments
x = 1.0
my_variable = 12.2

In Python, multiple assignments can be made in a single statement as follows:

In [0]:
a, b, c = 5, 3.2, 7

Although not explicitly specified, a variable does have a type associated with it. The type is derived from the value that was assigned to it.

In [0]:
type(x)

float

If we assign a new value to a variable, its type can change.

In [0]:
x = 1

In [0]:
type(x)

int

If we try to use a variable that has not yet been defined we get an `NameError`:

In [0]:
print(y)

NameError: name 'y' is not defined

### Fundamental types

In [0]:
# integers
x = 1
type(x)

int

In [0]:
# float
x = 1.0
type(x)

float

In [0]:
# boolean
b1 = True
b2 = False

type(b1)

bool

In [0]:
# complex numbers: note the use of `j` to specify the imaginary part
x = 1.0 - 1.0j
type(x)

complex

In [0]:
print(x)

(1-1j)

In [0]:
print(x.real, x.imag)

1.0 -1.0

### Type utility functions

In [0]:
x = 1.0

# check if the variable x is a float
type(x) is float

True

In [0]:
# check if the variable x is an int
type(x) is int

False

We can also use the `isinstance` method for testing types of variables:

In [0]:
isinstance(x, float)

True

### Type casting

In [0]:
x = 1.5

print(x, type(x))

1.5 <class 'float'>

In [0]:
x = int(x)

print(x, type(x))

1 <class 'int'>

In [0]:
z = complex(x)

print(z, type(z))

(1+0j) <class 'complex'>

In [0]:
a, b = 3+5j, complex(3, 5)
print(a, b)

(3+5j) (3+5j)

In [0]:
x = float(z)

TypeError: can't convert complex to float

Complex variables cannot be cast to floats or integers. We need to use `z.real` or `z.imag` to extract the part of the complex number we want:

In [0]:
print(z.real, type(z.real))
print(z.imag, type(z.imag))

1.0 <class 'float'>
0.0 <class 'float'>

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

In [0]:
1 + 2, 1 - 2, 1 * 2, 1 / 2

(3, -1, 2, 0.5)

In [0]:
1.0 + 2.0, 1.0 - 2.0, 1.0 * 2.0, 1.0 / 2.0

(3.0, -1.0, 2.0, 0.5)

In [0]:
# Integer division of float numbers
3.0 // 2.0

1.0

In [0]:
# Note! The power operators in python isn't ^, but **
2 ** 3

8

**Note**: *The `/` operator always performs a floating point division in Python 3.x.
This is not true in Python 2.x, where the result of `/` is always an integer if the operands are integers.
to be more specific, `1/2 = 0.5` (`float`) in Python 3.x, and `1/2 = 0` (`int`) in Python 2.x (but `1.0/2 = 0.5` in Python 2.x).*

* The boolean operators are spelled out as the words `and`, `not`, `or`.

In [0]:
True and False

False

In [0]:
not False

True

In [0]:
True or False

True

<table>
<tr>
<td>
<table>
<tr>
<th>expression</th>
<th>result</th>
</tr>
<tr>
<td>true <code>and</code> true</td>
<td>true</td>
</tr>
<tr>
<td>true <code>and</code> false</td>
<td>false</td>
</tr>
<tr>
<td>false <code>and</code> true</td>
<td>false</td>
</tr>
<tr>
<td>false <code>and</code> false</td>
<td>false</td>
</tr>
</table>
</td>
<td>
<table>
<tr>
<th>expression</th>
<th>result</th>
</tr>
<tr>
<td><code>not</code> true</td>
<td>false</td>
</tr>
<tr>
<td><code>not</code> false</td>
<td>true</td>
</tr>
</table>
</td>
<td>
<table>
<tr>
<th>expression</th>
<th>result</th>
</tr>
<tr>
<td>true <code>or</code> true</td>
<td>true</td>
</tr>
<tr>
<td>true <code>or</code> false</td>
<td>true</td>
</tr>
<tr>
<td>false <code>or</code> true</td>
<td>true</td>
</tr>
<tr>
<td>false <code>or</code> false</td>
<td>false</td>
</tr>
</table>
</td>
</tr>
</table>

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical.

In [0]:
2 > 1, 2 < 1

(True, False)

In [0]:
2 > 2, 2 < 2

(False, False)

In [0]:
2 >= 2, 2 <= 2

(True, True)

In [0]:
# equality
[1,2] == [1,2]

True

In [0]:
# objects identical?
l1 = l2 = [1,2]

l1 is l2

True

<table><thead>
<tr>
<th style="text-align: center">Operator</th>
<th>What it means</th>
</tr>
</thead><tbody>
<tr>
<td style="text-align: center">==</td>
<td>Equal to</td>
</tr>
<tr>
<td style="text-align: center">!=</td>
<td>Not equal to</td>
</tr>
<tr>
<td style="text-align: center">&lt;</td>
<td>Less than</td>
</tr>
<tr>
<td style="text-align: center">&gt;</td>
<td>Greater than</td>
</tr>
<tr>
<td style="text-align: center">&lt;=</td>
<td>Less than or equal to</td>
</tr>
<tr>
<td style="text-align: center">&gt;=</td>
<td>Greater than or equal to</td>
</tr>
</tbody></table>

## Compound types: Strings, List and dictionaries

### Strings

Strings are the variable type that is used for storing text messages.

In [0]:
s = "Hello world"
type(s)

str

In [0]:
# length of the string: the number of characters
len(s)

11

In [0]:
# replace a substring in a string with something else
s2 = s.replace("world", "test")
print(s2)

Hello test

We can index a character in a string using `[]`:

In [0]:
s[0]

'H'

**Heads up MATLAB users:** Indexing start at 0!

We can extract a part of a string using the syntax `[start:stop]`, which extracts characters between index `start` and `stop` -1 (the character at index `stop` is not included):

In [0]:
s[0:5]

'Hello'

In [0]:
s[4:5]

'o'

If we omit either (or both) of `start` or `stop` from `[start:stop]`, the default is the beginning and the end of the string, respectively:

In [0]:
s[:5]

'Hello'

In [0]:
s[6:]

'world'

In [0]:
s[:]

'Hello world'

We can also define the step size using the syntax `[start:end:step]` (the default value for `step` is 1, as we saw above):

In [0]:
s[::1]

'Hello world'

In [0]:
s[::2]

'Hlowrd'

This technique is called *slicing*. Read more about the syntax here: https://docs.python.org/3/library/functions.html#slice

Python has a very rich set of functions for text processing. See for example https://docs.python.org/3/library/string.html for more information.

#### String formatting examples

In [0]:
print("str1", "str2", "str3")  # The print statement concatenates strings with a space

str1 str2 str3

In [0]:
print("str1", 1.0, False, -1j)  # The print statements converts all arguments to strings

str1 1.0 False (-0-1j)

In [0]:
print("str1" + "str2" + "str3") # strings added with + are concatenated without space

str1str2str3

In [0]:
print("value = %f" % 1.0)       # we can use C-style string formatting

value = 1.000000

In [0]:
# this formatting creates a string
s2 = "value1 = %.2f. value2 = %d" % (3.1415, 1.5)

print(s2)

value1 = 3.14. value2 = 1

In [0]:
# alternative, more intuitive way of formatting a string 
s3 = 'value1 = {0}, value2 = {1}'.format(3.1415, 1.5)

print(s3)

value1 = 3.1415, value2 = 1.5

Python3.6 introduced a new string formatting mechanism known as *Literal String Interpolation* or more commonly as *F-strings* (because of the leading f character preceding the string literal).

In [0]:
name = "Eric"
points = 74

print(f'Hello, {name}. You have {points} points from the last test.')

Hello, Eric. You have 74 points from the last test.

### List

Lists are very similar to strings, except that each element can be of any type.

The syntax for creating lists in Python is `[...]`:

In [0]:
l = [1,2,3,4]

print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4]

We can use the same slicing techniques to manipulate lists as we could use on strings:

In [0]:
print(l)
print(l[1:3])
print(l[::2])

[1, 2, 3, 4]
[2, 3]
[1, 3]

**Heads up MATLAB users:** Indexing starts at 0!

In [0]:
l[0]

1

Elements in a list do not all have to be of the same type:

In [0]:
l = [1, 'a', 1.0, 1-1j]

print(l)

[1, 'a', 1.0, (1-1j)]

Python lists can be inhomogeneous and arbitrarily nested:

In [0]:
nested_list = [1, [2, [3, [4, [5]]]]]

nested_list

[1, [2, [3, [4, [5]]]]]

Lists play a very important role in Python. For example they are used in loops and other flow control structures (discussed below). There are a number of convenient functions for generating lists of various types, for example the `range` function generates an interator, which can be converted to a list using 'list(...)'.

In [0]:
start = 10
stop = 30
step = 2

print(range(start, stop, step), list(range(start, stop, step)))

range(10, 30, 2) [10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [0]:
list(range(-10, 10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
s

'Hello world'

In [0]:
# convert a string to a list by type casting:
s2 = list(s)

s2

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [0]:
# sorting lists
s2.sort()

print(s2)

[' ', 'H', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

#### Adding, inserting, modifying, and removing elements from lists

In [0]:
# create a new empty list
l = []

# add an elements using `append`
l.append("A")
l.append("d")
l.append("d")

print(l)

['A', 'd', 'd']

We can modify lists by assigning new values to elements in the list. In technical jargon, lists are *mutable*.

In [0]:
l[1] = "p"
l[2] = "p"

print(l)

['A', 'p', 'p']

In [0]:
l[1:3] = ["d", "d"]

print(l)

['A', 'd', 'd']

Insert an element at an specific index using `insert`

In [0]:
l.insert(0, "k")
l.insert(0, "c")
l.insert(0, "a")
l.insert(0, "B")

print(l)

['B', 'a', 'c', 'k', 'A', 'd', 'd']

Remove first element with specific value using 'remove'

In [0]:
l.remove("A")

print(l)

['B', 'a', 'c', 'k', 'd', 'd']

Remove an element at a specific location using `del`:

In [0]:
del l[5]
del l[4]

print(l)

['B', 'a', 'c', 'k']

See `help(list)` for more details, or read the online documentation

### Tuples

Tuples are like lists, except that they cannot be modified once created, that is they are *immutable*. 

In Python, tuples are created using the syntax `(..., ..., ...)`, or even `..., ...`:

In [0]:
point = (10, 20)

print(point, type(point))

(10, 20) <class 'tuple'>

In [0]:
point = 10, 20

print(point, type(point))

(10, 20) <class 'tuple'>

We can unpack a tuple by assigning it to a comma-separated list of variables:

In [0]:
x, y = point

print("x =", x)
print("y =", y)

x = 10
y = 20

If we try to assign a new value to an element in a tuple we get an error:

In [0]:
point[0] = 20

TypeError: 'tuple' object does not support item assignment

### Dictionaries

Dictionaries are also like lists, except that each element is a key-value pair. The syntax for dictionaries is `{key1 : value1, ...}`:

In [0]:
params = {"parameter1" : 1.0,
          "parameter2" : 2.0,
          "parameter3" : 3.0,}

print(type(params))
print(params)

<class 'dict'>
{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0}

In [0]:
print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))

parameter1 = 1.0
parameter2 = 2.0
parameter3 = 3.0

In [0]:
params["parameter1"] = "A"
params["parameter2"] = "B"

# add a new entry
params["parameter4"] = "D"

print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))
print("parameter4 = " + str(params["parameter4"]))

parameter1 = A
parameter2 = B
parameter3 = 3.0
parameter4 = D

## Control Flow

### Conditional statements: if, elif, else

The Python syntax for conditional execution of code uses the keywords `if`, `elif` (else if), `else`:

In [0]:
statement1 = False
statement2 = False

if statement1:
    print("statement1 is True")
    
elif statement2:
    print("statement2 is True")
    
else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False

For the first time, here we encounted a peculiar and unusual aspect of the Python programming language: Program blocks are defined by their indentation level. 

Compare to the equivalent C code:

    if (statement1)
    {
        printf("statement1 is True\n");
    }
    else if (statement2)
    {
        printf("statement2 is True\n");
    }
    else
    {
        printf("statement1 and statement2 are False\n");
    }

In C blocks are defined by the enclosing curly brakets `{` and `}`. And the level of indentation (white space before the code statements) does not matter (completely optional). 

But in Python, the extent of a code block is defined by the indentation level (usually a tab or say four white spaces). This means that we have to be careful to indent our code correctly, or else we will get syntax errors.

#### Examples:

In [0]:
statement1 = statement2 = True

if statement1:
    if statement2:
        print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [0]:
# Bad indentation!
if statement1:
    if statement2:
    print("both statement1 and statement2 are True")  # this line is not properly indented

IndentationError: expected an indented block (<ipython-input-77-ac4109c9123a>, line 4)

In [0]:
statement1 = False 

if statement1:
    print("printed if statement1 is True")
    
    print("still inside the if block")

In [0]:
if statement1:
    print("printed if statement1 is True")
    
print("now outside the if block")

now outside the if block

## Loops

In Python, loops can be programmed in a number of different ways. The most common is the `for` loop, which is used together with iterable objects, such as lists. The basic syntax is:

### **`for` loops**:

In [0]:
for x in [1,2,3]:
    print(x)

1
2
3

The `for` loop iterates over the elements of the supplied list, and executes the containing block once for each element. Any kind of list can be used in the `for` loop. For example:

In [0]:
for x in range(4): # by default range start at 0
    print(x)

0
1
2
3

Note: `range(4)` does not include 4 !

In [0]:
for x in range(-3,3):
    print(x)

-3
-2
-1
0
1
2

In [0]:
for word in ["scientific", "computing", "with", "python"]:
    print(word)

scientific
computing
with
python

To iterate over key-value pairs of a dictionary:

In [0]:
for key, value in params.items():
    print(key + " = " + str(value))

parameter1 = A
parameter2 = B
parameter3 = 3.0
parameter4 = D

Sometimes it is useful to have access to the indices of the values when iterating over a list. We can use the `enumerate` function for this:

In [0]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

0 -3
1 -2
2 -1
3 0
4 1
5 2

### List comprehensions: Creating lists using `for` loops:

A convenient and compact way to initialize lists:

In [0]:
l1 = [x**2 for x in range(0,10)]
print(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
[x for x in range(0, 100) if x % 7 == 3]

[3, 10, 17, 24, 31, 38, 45, 52, 59, 66, 73, 80, 87, 94]

### `while` loops:

In [0]:
i = 0

while i < 5:
    print(i)
    i = i + 1
    
print("done")

0
1
2
3
4
done

Note that the `print("done")` statement is not part of the `while` loop body because of the difference in indentation.

## Modules

Most of the functionality in Python is provided by *modules*. The Python Standard Library is a large collection of modules that provides *cross-platform* implementations of common facilities such as access to the operating system, file I/O, string management, network communication, and much more.

### References

 * The Python 3 Language Reference: https://docs.python.org/3/reference/index.html
 * The Python 3 Standard Library: https://docs.python.org/3/library/

To use a module in a Python program it first has to be imported. A module can be imported using the `import` statement. For example, to import the module `math`, which contains many standard mathematical functions, we can do:

In [0]:
import math

This includes the whole module and makes it available for use later in the program. For example, we can do:

In [0]:
import math

x = math.cos(2 * math.pi)

print(x)

1.0

Alternatively, we can chose to import all symbols (functions and variables) in a module to the current namespace (so that we don't need to use the prefix "`math.`" every time we use something from the `math` module:

In [0]:
from math import *

x = cos(2 * pi)

print(x)

1.0

This pattern can be very convenient, but in large programs that include many modules it is often a good idea to keep the symbols from each module in their own namespaces, by using the `import math` pattern. This would elminate potentially confusing problems with name space collisions.

As a third alternative, we can chose to import only a few selected symbols from a module by explicitly listing which ones we want to import instead of using the wildcard character `*`:

In [0]:
from math import cos, pi

x = cos(2 * pi)

print(x)

1.0

### Looking at what a module contains, and its documentation

Once a module is imported, we can list the symbols it provides using the `dir` function:

In [0]:
import math

print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

And using the function `help` we can get a description of each function (almost .. not all functions have docstrings, as they are technically called, but the vast majority of functions are documented this way).

In [0]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x[, base])

    Return the logarithm of x to the given base.
    If the base not specified, returns the natural logarithm (base e) of x.

In [0]:
log(10)

2.302585092994046

In [0]:
log(10, 2)

3.3219280948873626

We can also use the `help` function directly on modules: Try

    help(math) 

Some very useful modules form the Python standard library are `os`, `sys`, `math`, `shutil` or `re`.

## Functions

A function in Python is defined using the keyword `def`, followed by a function name, a signature within parentheses `()`, and a colon `:`. The following code, with one additional level of indentation, is the function body.

In [0]:
def func0():   
    print("test")

In [0]:
func0()

test

Optionally, but highly recommended, we can define a so called "docstring", which is a description of the functions purpose and behaivor. The docstring should follow directly after the function definition, before the code in the function body.

In [0]:
def func1(s):
    """
    Print a string 's' and tell how many characters it has    
    """
    print(s + " has " + str(len(s)) + " characters")

In [0]:
help(func1)

Help on function func1 in module __main__:

func1(s)
    Print a string 's' and tell how many characters it has

In [0]:
func1("test")

test has 4 characters

Functions that returns a value use the `return` keyword:

In [0]:
def square(x):
    """
    Return the square of x.
    """
    return x ** 2

In [0]:
square(4)

16

We can return multiple values from a function using tuples (see above):

In [0]:
def powers(x):
    """
    Return a few powers of x.
    """
    return x ** 2, x ** 3, x ** 4

In [0]:
powers(3)

(9, 27, 81)

In [0]:
x2, x3, x4 = powers(3)

print(x3)

27

### Default argument and keyword arguments

In a definition of a function, we can give default values to the arguments the function takes:

In [0]:
def myfunc(x, p=2, debug=False):
    if debug:
        print("evaluating myfunc for x = " + str(x) + " using exponent p = " + str(p))
    return x**p

If we don't provide a value of the `debug` argument when calling the the function `myfunc` it defaults to the value provided in the function definition:

In [0]:
myfunc(5)

25

In [0]:
myfunc(5, debug=True)

evaluating myfunc for x = 5 using exponent p = 2

25

If we explicitly list the name of the arguments in the function calls, they do not need to come in the same order as in the function definition. This is called *keyword* arguments, and is often very useful in functions that takes a lot of optional arguments.

In [0]:
myfunc(p=3, debug=True, x=7)

evaluating myfunc for x = 7 using exponent p = 3

343

### Unnamed functions (lambda function)

In Python we can also create unnamed functions, using the `lambda` keyword:

In [0]:
f1 = lambda x: x**2
    
# is equivalent to 

def f2(x):
    return x**2

In [0]:
f1(2), f2(2)

(4, 4)

This technique is useful for example when we want to pass a simple function as an argument to another function, like this:

In [0]:
# map is a built-in python function and in Python 3 generates iterator
map(lambda x: x**2, range(-3, 4))

In [0]:
# we can use `list(...)` to convert the iterator to an explicit list
list(map(lambda x: x**2, range(-3, 4)))

[9, 4, 1, 0, 1, 4, 9]

## Classes

Classes are the key features of object-oriented programming. A class is a structure for representing an object and the operations that can be performed on the object. 

In Python a class can contain *attributes* (variables) and *methods* (functions).

A class is defined almost like a function, but using the `class` keyword, and the class definition usually contains a number of class method definitions (a function in a class).

* Each class method should have an argument `self` as its first argument. This object is a self-reference.

* Some class method names have special meaning, for example:

    * `__init__`: The name of the method that is invoked when the object is first created.
    * `__str__` : A method that is invoked when a simple string representation of the class is needed, as for example when printed.
    * There are many more, see http://docs.python.org/2/reference/datamodel.html#special-method-names

In [0]:
class Point:
    """
    Simple class for representing a point in a Cartesian coordinate system.
    """
    
    def __init__(self, x, y):
        """
        Create a new Point at x, y.
        """
        self.x = x
        self.y = y
        
    def translate(self, dx, dy):
        """
        Translate the point by dx and dy in the x and y direction.
        """
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return("Point at [%f, %f]" % (self.x, self.y))

To create a new instance of a class:

In [0]:
p1 = Point(0, 0) # this will invoke the __init__ method in the Point class

print(p1)         # this will invoke the __str__ method

Point at [0.000000, 0.000000]

To invoke a class method in the class instance `p`:

In [0]:
p2 = Point(1, 1)

p1.translate(0.25, 1.5)

print(p1)
print(p2)

Point at [0.250000, 1.500000]
Point at [1.000000, 1.000000]

Note that calling class methods can modifiy the state of that particular class instance, but does not effect other class instances or any global variables.

That is one of the nice things about object-oriented design: code such as functions and related variables are grouped in separate and independent entities.

## Exceptions

In Python errors are managed with a special language construct called "Exceptions". When errors occur exceptions can be raised, which interrupts the normal program flow and fallback to somewhere else in the code where the closest try-except statement is defined.

To generate an exception we can use the `raise` statement, which takes an argument that must be an instance of the class `BaseException` or a class derived from it.

In [0]:
raise Exception("description of the error")

Exception: description of the error

A typical use of exceptions is to abort functions when some error condition occurs, for example:

    def my_function(arguments):
    
        if not verify(arguments):
            raise Exception("Invalid arguments")
        
        # rest of the code goes here

To gracefully catch errors that are generated by functions and class methods, or by the Python interpreter itself, use the `try` and  `except` statements:

    try:
        # normal code goes here
    except:
        # code for error handling goes here
        # this code is not executed unless the code
        # above generated an error

For example:

In [0]:
try:
    print("test")
    # generate an error: the variable test is not defined
    print(test)
except:
    print("Caught an exception")

test
Caught an exception

To get information about the error, we can access the `Exception` class instance that describes the exception by using for example:

    except Exception as e:

In [0]:
try:
    print("test")
    # generate an error: the variable test is not defined
    print(test)
except Exception as e:
    print("Caught an exception:" + str(e))

test
Caught an exception:name 'test' is not defined

## Further reading

* https://docs.python.org/3/tutorial/ - The Python tutorial
* http://www.greenteapress.com/thinkpython/ - A free book on Python programming.
* http://www.diveintopython3.net/ - Another free ebook Dive Into Python 3
* http://www.thomas-cokelaer.info/tutorials/python/ - Python notes
* http://www.python.org - The official web page of the Python programming language.
* http://www.python.org/dev/peps/pep-0008 - Style guide for Python programming. Highly recommended.


* https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PythonForDataScience.pdf Python cheat sheet for variables and data types, Strings, Lists

In [0]:
!python scripts/footnote.py

Running using Python 3.6.6 |Anaconda, Inc.| (default, Oct  9 2018, 12:34:16)
[GCC 7.3.0]
Testing Python version-> py3.6 OK
Testing numpy...      -> numpy OK
Testing scipy ...     -> scipy OK
Testing matplotlib... -> pylab OK
Testing sympy         -> sympy OK
-----------------------------
All the IPython Notebooks in this lecture series are available at:
https://github.com/ondrolexa/r-python